/* importamos las fuentes */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&family=Yellowtail&display=swap');

* {
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* SECCION INICIO */
.inicio {
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
        url("img/fondo.jpg");
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.inicio .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}

.inicio .contenido-seccion header {
    padding: 30px;
}

/* menu lateral */
.inicio .contenido-seccion header nav {
    position: fixed;
    margin-left: 60px;
    background-color: #940253;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
}

.inicio .contenido-seccion header nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}

/* ****** */
.inicio .contenido-seccion header .logo {
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Yellowtail";
    text-shadow: 0 0 35px #fff;
}

.inicio .contenido-seccion header .logo .color {
    color: #940253;
    font-family: "Yellowtail";
}

.inicio .contenido-seccion header .nav-bar {
    position: fixed;
    background-color: #940253;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
}

.inicio .contenido-seccion header .nav-bar:hover {
    box-shadow: 0 0 35px #fff;
}

.inicio .contenido-seccion .info {
    padding-bottom: 130px;
}

.inicio .contenido-seccion .info h1 {
    font-size: 3rem;
    letter-spacing: 5px;
}

.inicio .contenido-seccion .info h2 {
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
}

.inicio .contenido-seccion .info .redes {
    margin: 20px 0;
}

.inicio .contenido-seccion .info .redes a {
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #940253;
    border: 1px solid #940253;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: .3s;
}

.inicio .contenido-seccion .info .redes a:hover {
    color: #fff;
    background-color: #940253;
    box-shadow: 0 0 20px #fff;
}

.inicio .contenido-seccion .foto {
    position: relative;
}

.inicio .contenido-seccion .foto img {
    max-width: 200px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translateX(-50%);
}

/* estilos generales */
.titulo-seccion {
    font-family: "Yellowtail";
    font-size: 1.5rem;
}

/* SECCION SOBRE MI */
.sobremi {
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}

.sobremi .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.sobremi .contenido-seccion h3 {
    text-transform: uppercase;
    font-size: 30px;
}

.sobremi .contenido-seccion .especial {
    color: #940253;
    font-weight: bold;
    margin-top: 15px;
}

.sobremi .contenido-seccion p {
    max-width: 700px;
    margin: auto;
    color: #666;
}

.sobremi .contenido-seccion .fila {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.sobremi .contenido-seccion .fila .col {
    width: 30%;
}

.sobremi .contenido-seccion .fila .col i {
    color: #940253;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #940253;
    line-height: 40px;
    border-radius: 50%;
}

.sobremi .contenido-seccion .fila .col span {
    display: block;
    font-weight: bold;
    margin: 8px 0;
}

/* SECCION HABILIDADES */
.habilidades {
    padding: 80px 0 100px 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
        url("img/habilidades.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
}

.habilidades .contenido-seccion {
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.habilidades .contenido-seccion h3 {
    text-transform: uppercase;
    font-size: 30px;
}

.habilidades .contenido-seccion .fila {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.habilidades .contenido-seccion .fila .col {
    width: 47%;
    text-align: left;
}

.habilidades .contenido-seccion .fila .col .cont-barra {
    display: flex;
    align-items: center;
}

.habilidades .contenido-seccion .barra {
    display: flex;
    border: 1px solid #940253;
    padding: 2px;
    border-radius: 3px;
    margin-right: 10px;
}

.habilidades .contenido-seccion .barra .e {
    background-color: #363636;
    width: 20px;
    height: 30px;
    margin-right: 2px;
}

/* SECCION RESUMEN */
.resumen {
    background-color: #e6e6e6;
    padding: 60px 0 100px 0;
    text-align: center;
}

.resumen .contenido-seccion {
    max-width: 100%;
    margin: auto;
    padding: 0 10px;
}

.proyectos {
    max-width: 100%;
    margin: auto;
    padding-bottom: 50px;
}

.proyectos h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.proyectos nav {
    text-align: center;
    margin: 30px 0;
}

.proyectos nav a {
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    color: #007be5;
    font-weight: bold;
    padding: 3px 10px;
    border: 3px solid transparent;
}

.proyectos nav a:hover {
    border: 3px solid #ff0000;
}

/* Esta clase se agregrá dinámicamente cuando haya seleccionada una opción */
.borde {
    border: 3px solid #ff0000 !important;
}

.proyectos .galeria .item img {
    width: 100%;
    height: 100%;
    display: block;
}

.proyectos .galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    grid-gap: 30px;
}

.proyectos .galeria .item {
    position: relative;
    overflow: hidden;
    border: 1px solid #8d8d8d;
    border-radius: 10px;
}

.proyectos .galeria .item .info {
    position: absolute;
    top: -100%;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    opacity: 0;
    transition: .3s;
}

.proyectos .galeria .item .info h3 {
    color: #000;
    margin-bottom: 20px;
}

.proyectos .galeria .item .info span {
    color: #8d8d8d;
    display: inline-block;
    border: 2px solid #8d8d8d;
    margin: 0 3px;
    padding: 0 5px;
}

.proyectos .galeria .item .info a {
    display: block;
    margin: 20px;
    text-decoration: none;
    color: #6b0652;
    font-weight: bold;
}

.proyectos .galeria .item:hover .info {
    opacity: 1;
    top: 0;
}

/* SECCION CONTACTO */
.contacto {
    padding: 140px 0 100px 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
        url("img/habilidades.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
}

.contacto .contenido-seccion {
    max-width: 100%;
    margin: auto;
}

.contacto .contenido-seccion h2 {
    text-transform: uppercase;
    font-size: 30px;
}

.contacto .contenido-seccion .fila {
    display: flex;
    justify-content: space-around;
}

.contacto .contenido-seccion .fila .col {
    margin-top: 50px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 7px 0;
    font-size: 14px;
    text-align: center;
}

/* SECCION RESPONSIVE */
@media screen and (max-width:800px) {
    .habilidades .contenido-seccion .fila {
        display: block;
    }

    .habilidades .contenido-seccion .fila .col {
        width: 100%;
        text-align: center;
    }

    .habilidades .contenido-seccion .fila .col .cont-barra {
        justify-content: center;
    }

    .sobremi .contenido-seccion .fila {
        display: block;
    }

    .sobremi .contenido-seccion .fila .col {
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }

    .resumen .contenido-seccion .info {
        display: block;
    }

    .resumen .contenido-seccion .info .col {
        width: 90%;
        margin: auto;
    }

    .resumen .contenido-seccion .info .col .titulo {
        display: block;
        text-align: center;
    }

    .resumen .contenido-seccion .info .col table {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .contacto .contenido-seccion .fila {
        display: block;
    }
}